In [1]:
!pip install pandas
!pip install ipython-sql

import csv, sqlite3

con = sqlite3.connect("FinalDB.db")
cur = con.cursor()

Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (2.0.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: ipython-sql in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (0.5.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (2.0.18)
Requirement already satisfied: six in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: ipython-genutils in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: prettytable in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.6.3)
Requirement already satisfied: jedi>=0.16 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: pygments>=2.4.0 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: traitlets>=5 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: backcall in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: pickleshare in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: matplotlib-inline in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: stack-data in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: decorator in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
%load_ext sql

In [3]:
import pandas as pd

#read csv file from the given url into pandas dataframes
census_data_df = pd.read_csv('ChicagoCensusData.csv')

#convert csv file to a table in sqlite with the csv data loaded in it
census_data_df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

78

In [4]:
chicago_public_schools_df = pd.read_csv('ChicagoPublicSchools.csv')

chicago_public_schools_df.to_sql(name="CHICAGO_PUBLIC_SCHOOLS", con= con, if_exists='replace', index=False)

566

In [5]:
chicago_crime_data_df = pd.read_csv('ChicagoCrimeData.csv')

chicago_crime_data_df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False,method="multi")

533

In [6]:
%sql sqlite:///FinalDB.db

In [7]:
%sql select name from  sqlite_master where type='table';

 * sqlite:///FinalDB.db
Done.

[('CENSUS_DATA',), ('CHICAGO_PUBLIC_SCHOOLS',), ('CHICAGO_CRIME_DATA',)]

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [8]:
%sql select count(*) AS total_crimes from CHICAGO_CRIME_DATA;

 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [9]:
%sql select "COMMUNITY_AREA_NAME", "PER_CAPITA_INCOME" from CENSUS_DATA where "PER_CAPITA_INCOME" < 11000 order by "PER_CAPITA_INCOME";

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 8201),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('West Garfield Park', 10934)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [10]:
%sql select CASE_NUMBER, DESCRIPTION from CHICAGO_CRIME_DATA where DESCRIPTION like '%minor%';

 * sqlite:///FinalDB.db
Done.

[('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'ILLEGAL CONSUMPTION BY MINOR')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [11]:
%sql select PRIMARY_TYPE, DESCRIPTION from CHICAGO_CRIME_DATA where PRIMARY_TYPE='KIDNAPPING' and DESCRIPTION like '%child%';

 * sqlite:///FinalDB.db
Done.

[('KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [12]:
%sql select distinct PRIMARY_TYPE, LOCATION_DESCRIPTION from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION like '%school%';

 * sqlite:///FinalDB.db
Done.

[('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PUBLIC, BUILDING')]

### Problem 6

##### List the average safety score of school.

In [13]:
%sql SELECT AVG("Safety_Score") AS "AverageSafetyScore" FROM CHICAGO_PUBLIC_SCHOOLS;

 * sqlite:///FinalDB.db
Done.

[(49.50487329434698,)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [14]:
%sql select "COMMUNITY_AREA_NAME", "PERCENT_HOUSEHOLDS_BELOW_POVERTY" from CENSUS_DATA order by "PERCENT_HOUSEHOLDS_BELOW_POVERTY" desc nulls last limit 5;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone?

In [15]:
%sql select WARD, COMMUNITY_AREA_NUMBER, count(COMMUNITY_AREA_NUMBER) from CHICAGO_CRIME_DATA GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(29.0, 25.0, 43)]

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [16]:
%sql select "COMMUNITY_AREA_NAME", "HARDSHIP_INDEX" from CENSUS_DATA \
   where "COMMUNITY_AREA_NAME" in \
   ( select "COMMUNITY_AREA_NAME" from CENSUS_DATA order by "HARDSHIP_INDEX" desc limit 1 );

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 98.0)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [17]:
%sql select "COMMUNITY_AREA_NAME" from CENSUS_DATA \
   where "COMMUNITY_AREA_NUMBER" in \
   (select count(COMMUNITY_AREA_NUMBER) from CHICAGO_CRIME_DATA GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC LIMIT 1);

 * sqlite:///FinalDB.db
Done.

[('South Shore',)]